<div>
  <h1 style="display: flex; align-items: center; justify-content: center;">Outbrand AI Webcam Recorder</h1>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <button type="button" id="buttonStart">Start</button>
  <button type="button" id="buttonStop" disabled>Stop</button>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <video autoplay muted playsinline id="videoLive"></video>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <video controls playsinline id="videoRecorded"></video>
</div>
<script src="assets/main.js"></script>
